<div class="filler"></div>

<div class="user-heading">
  <div class="user-heading-left">
    <h1 class="user-name"><%= @user.name.capitalize %>'s Page</h1>
    <h2 class="user-email"><%= @user.email %></h2>
    <% if myself?(@user.id) && logged_in? %>
      <div class="edit-user-btn">
        <%= link_to "Edit Profile", edit_user_path %>
      </div>
    <% elsif !myself?(@user.id) && !friend?(@user.id) %>
      <div class="edit-user-btn">
        <%= link_to "Add Friend", friend_request_path(request_id: @user.id), method: :post %>
      </div>
    <% elsif !myself?(@user.id) && friend?(@user.id) %>
      <div class="edit-user-btn">
        <%= link_to "Remove Friend", remove_friend_path(request_id: @user.id), method: :post %>
      </div>
    <% end %>
  </div>
  <div class="user-heading-right">
    <h2 class="user-bio-label">About <%= @user.name %>: </h2>
    <p class="user-bio"><%= @user.bio %></p>
  </div>
</div>

<div class="user-content-grid">
  <div class="user-events">
    <div class="user-new-event-btn"><%= link_to "Create Event", new_event_path %></div>
    <h2 class="user-events-heading">Upcoming Events</h2>
    <% if @user.upcoming_events.count > 0 %>
        <% @user.upcoming_events.each do |event| %>
          <%# <% if event.datetime >= DateTime.now %>
            <div class="event-card">
              <div class="event-card-content">
                <div class="event-card-title">
                  <p class="event-card-title-item item-link"><%= link_to event.name, event_path(event) %></p>
                  <p class="event-card-title-item"><%= event.location %></p>
                  <p class="event-card-title-item"><%=event.date.strftime("%m/%d/%y") %></p>
                  <p class="event-card-title-item"><%= event.time.strftime("%I:%M %p") %></p>
                </div>
                <div class="event-card-desc">
                  <p class="card-desc">Event Description:</p>
                  <p class="card-text"><%= event.description %></p>
                </div>
                <% if attending_event?(event.id) %>
                  <div class="event-card-footer">
                    <%= button_to "I Ain't Goin", leave_event_path, method: "post", params:{event_id: event.id} %>
                  </div>
                <% else %>
                  <div class="event-card-footer">
                    <%= button_to "I'm Goin", attend_event_path, method: "post", params:{event_id: event.id} %>
                  </div>
                <% end %>
              </div>
            </div>
          <%# <% end %>
        <% end %>
      <div class="user-all-event-btn"><%= link_to "All Events", events_path %></div>
    <% else %>
      <div class="no-events-display">
        <h2>Why ain't you goin' anywhere?</h2>
        <%= link_to "Go Somewhere!",  events_path %>
      </div>
        
    <% end %>
  </div>
  <div class="user-friends">
    <p class="user-friends-heading">Friends</p>
    <hr id="two" data-symbol="✈">
    <% if myself?(@user.id) && current_user.requested_friends.count > 0 %>
      <% current_user.requested_friends.each do |friend| %>
      <div class="friend-display">
        <%= link_to friend.name, user_path(friend), class: "user-friend" %>
        <%= button_to "Accept", accept_request_path, method: "post", params: {request_id: friend.id} %>
        <%= button_to "Decline", decline_request_path, method: "post", params: {request_id: friend.id} %>
      </div>
      <% end %>
    <% end %>
    <% if @friends.count > 0 %>
        <% @friends.each do |friend| %>
          <div class="friend-display">
            <%= link_to friend.name, user_path(friend), class: "user-friend" %>
            <%= button_to "Remove Friend", remove_friend_path, method: "post", params: {request_id: friend.id}, class: "user-friend-remove" %>
          </div>
          
        <% end %>
    <% else %>
      <div class="friend-display">
        <p>Go to events to make some friends.</p>
      </div>
    <% end %>
  </div>
  
</div>

<br> 


<br>
<% if @user.events.count > 0 %>
<div class="wrap-collabsible">
  <input id="collapsible" class="toggle" type="checkbox">
  <label for="collapsible" class="lbl-toggle">Past Events</label>
  <div class="collapsible-content">
    <div class="content-inner">
      <p>
        <% if @user.events.count > 0 %>
        <% @user.events.each do |event| %>
          <% if event.datetime < DateTime.now.new_offset(0) %>
            <div class="event-card">
              <div class="event-card-content">
                <div class="event-card-title">
                  <p class="event-card-title-item item-link"><%= link_to event.name, event_path(event) %></p>
                  <p class="event-card-title-item"><%=event.date.strftime("%m/%d/%y") %></p>
                  <p class="event-card-title-item"><%= event.time.strftime("%I:%M %p") %></p>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
        <% end %>
    </div>
  </div>
</div>
<% end %>



