<h1>All Events</h1>

<% @events.each do |event| %>

    <h3><%=link_to event.name, event_path(event) %></h3>
    <h4><%= event.location %></h4>
    <h5><%= event.date %></h5>
    <h5><%= event.time.strftime("%I:%M %p") %></h5>
    <p><%= event.description %></p>
     <% if attending_event?(event.id) %>
      <p>Attending Event</p>
    <% else %>
      <%= button_to "Attend Event", attend_event_path, method: "post", params:{event_id: event.id} %>
    <% end %>
    <br>

<% end %>